{{#if username}}
<div style="text-align: right;">
    <b>{{username}}</b> <a href="/login">logout</a>
</div>
{{else}}
<form action="/login" method="post">
    <input type="text" name="email" id="email" placeholder="e-mail">
    <input type="password" name="senha" id="senha" placeholder="senha">
    <input type="submit" value="entrar">
</form>
{{/if}}