{{#if username}}
<div style="text-align: right;">
    <p><b>{{username}}</b> <a href="/login">logout</a></p>
    {{#if cadastro}}
    {{else}}
    <p><a href="signin/senha">troca senha</a></p>
    {{/if}}
</div>
{{else}}
    {{#if cadastro}}
    {{else}}
    <form action="/login" method="post">
        <input type="email" name="email" id="email" placeholder="e-mail">
        <input type="password" name="senha" id="senha" placeholder="senha">
        <input type="submit" value="entrar">
    </form>
    <p><a href="signin">cadastre-se</a></p>
    {{/if}}
{{/if}}