body {
	font-family: verdana, sans-serif;
}
section {
	color: lightblue;
}
h2, h3 {
	color: darkgray;
}
header {
	color: darkblue;
}
header p {
	color: gray;
}
table, td, th {
	border: solid 1px;
	text-align: center;
}
a:link {
	color: green;
}
a:visited {
	color: yellow;
}
a:hover {
	color: blue;
	text-decoration: none;
}
a:active {
	color: red;
}
