<h2>Troca senha</h2>
<form action="" method="post">
    <input disabled type="email" value="{{username}}">
    <input type="hidden" name="email" value="{{username}}">
    <input type="password" name="senha" id="senha" placeholder="senha">
    <input type="submit" value="enviar" class="btn btn-primary">
</form>